{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/spec.alpha {:mvn/version "0.3.218"}
        spec-dict/spec-dict {:mvn/version "0.2.1"}
        com.github.seancorfield/honeysql {:mvn/version "2.1.833"}
        com.github.seancorfield/next.jdbc {:mvn/version "1.2.761"}
        weavejester/dependency {:mvn/version "0.2.1"}
        differ/differ {:mvn/version "0.3.3"}
        slingshot/slingshot {:mvn/version "0.12.2"}
        medley/medley {:mvn/version "1.3.0"}}
 :aliases
 {:dev {:extra-paths ["dev"]
        :extra-deps {org.clojure/tools.namespace {:mvn/version "1.2.0"}
                     hashp/hashp {:mvn/version "0.2.1"}
                     org.postgresql/postgresql {:mvn/version "42.3.1"}}}
  :test {:extra-paths ["test"]
         :extra-deps {eftest/eftest {:mvn/version "0.5.9"}
                      cloverage/cloverage {:mvn/version "1.2.2"}
                      circleci/bond {:mvn/version "0.6.0"}}
         :exec-fn     cloverage.coverage/run-project
         :exec-args {:test-ns-path ["test"]
                     :src-ns-path ["src"]
                     :runner :eftest
                     :runner-opts {:multithread? false
                                   :fail-fast? true}}}

  :check-deps {:extra-deps {com.github.liquidz/antq {:mvn/version "1.3.1"}}
               :main-opts ["-m" "antq.core" "--force"]}

  :build {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.1.303"}}
          :exec-fn hf.depstar/jar
          :exec-args {:jar "tuna.jar" :sync-pom true}}

  :install {:replace-deps {slipset/deps-deploy {:mvn/version "0.2.0"}}
            :exec-fn deps-deploy.deps-deploy/deploy
            :exec-args {:installer :local :artifact "tuna.jar"}}

  :deploy {:replace-deps {slipset/deps-deploy {:mvn/version "0.2.0"}}
           :exec-fn deps-deploy.deps-deploy/deploy
           :exec-args {:installer :remote :artifact "tuna.jar"}}

  :migrations {:exec-fn tuna.core/run
               :exec-args {:models-file "src/tuna/models.edn"
                           :migrations-dir "src/tuna/migrations-wrong"
                           ; TODO: add ability to set this with env var and .env file too!
                           :jdbc-url "jdbc:postgresql://localhost:5432/tuna?user=tuna&password=tuna"}}}}
