{:paths ["src"]
 :deps {org.clojure/spec.alpha {:mvn/version "0.4.233"}
        spec-dict/spec-dict {:mvn/version "0.2.1"}
        com.github.seancorfield/honeysql {:mvn/version "2.6.1126"}
        com.github.seancorfield/next.jdbc {:mvn/version "1.3.925"}
        weavejester/dependency {:mvn/version "0.2.1"}
        differ/differ {:mvn/version "0.3.3"}
        slingshot/slingshot {:mvn/version "0.12.2"}
        com.github.vertical-blank/sql-formatter {:mvn/version "2.0.5"}
        resauce/resauce {:mvn/version "0.2.0"}
        org.clojure/tools.cli {:mvn/version "1.1.230"}}

 :tools/usage {:ns-default automigrate.core}

 :aliases
 {:dev {:extra-paths ["dev"]
        :extra-deps {org.clojure/clojure {:mvn/version "1.11.2"}
                     org.clojure/tools.namespace {:mvn/version "1.5.0"}
                     hashp/hashp {:mvn/version "0.2.2"}
                     org.postgresql/postgresql {:mvn/version "42.7.3"}}}

  :test {:extra-paths ["test" "test/resources"]
         :extra-deps {eftest/eftest {:mvn/version "0.6.0"}
                      circleci/bond {:mvn/version "0.6.0"}}
         :exec-fn automigrate.testing-util/run-eftest
         :exec-args {:multithread? false
                     :test-warn-time 500}}

  :outdated {:extra-deps {com.github.liquidz/antq {:mvn/version "2.8.1194"}
                          ; suppress logger output
                          org.slf4j/slf4j-nop {:mvn/version "2.0.13"}}
             :main-opts ["-m" "antq.core" "--no-diff"
                         "--exclude=io.github.seancorfield/build-clj"
                         "--exclude=net.clojars.abogoyavlensky/automigrate"]}

  :build {:deps {io.github.seancorfield/build-clj {:git/tag "v0.6.6"
                                                   :git/sha "171d5f1"}}
          :ns-default build}

  :migrations {:ns-default automigrate.core
               :exec-args {:jdbc-url "jdbc:postgresql://localhost:5432/automigrate?user=automigrate&password=automigrate"}

               ; Key `:deps` is here just for testing `-T` option locally, so it is ignored by `-X` option.
               :deps {net.clojars.abogoyavlensky/automigrate {:mvn/version "0.0.1-SNAPSHOT"}}}}}
