{:linters {:single-key-in {:level :warning}
           :shadowed-var {:level :warning}
           :private-call {:level :off}
           :refer-all {:exclude [clojure.test
                                 slingshot.slingshot]}
           :unresolved-symbol {:exclude [(slingshot.slingshot/try+ [e])]}
           :consistent-alias {:aliases {honey.sql honey
                                        clojure.spec.alpha s
                                        spec-dict d
                                        clojure.java.jdbc jdbc
                                        automigrate.util.db db-util
                                        automigrate.util.file file-util
                                        automigrate.util.spec spec-util
                                        automigrate.util.map map-util
                                        automigrate.util.model model-util
                                        automigrate.testing-util test-util
                                        clojure.java.io io
                                        clojure.edn edn
                                        clojure.string str
                                        bond.james bond}}}}
