{:author {:fields [[:id :serial {:primary-key true}]
                   [:first-name [:varchar 255]]
                   [:second-name :text]
                   [:created-at :timestamp {:default [:now]
                                            :null false}]]
          :indexes [[:author-created-at-idx :btree {:fields [:created-at]}]]}

 :book [[:id :serial {:primary-key true}]
        [:name [:varchar 255] {:null false}]
        [:description :text]
        [:amount :integer {:null false
                           :default 0}]
        [:author :integer {:null false
                           :foreign-key :author/id
                           :on-delete :cascade}]]}
