{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.postgresql/postgresql {:mvn/version "42.3.1"}}
 :aliases
 {:migrations {:extra-deps {net.clojars.abogoyavlensky/automigrate {:mvn/version "0.2.1"}}
               :ns-default automigrate.core
               :exec-args {:models-file "models.edn"
                           :migrations-dir "migrations"
                           :jdbc-url "jdbc:postgresql://db:5432/demo?user=demo&password=demo"}}}}
