{:feed
 {:fields {:id {:type :serial
                :null false
                :primary-key true}
           :name {:type :text}
           :created_at {:type :timestamp
                        :default [:now]}}}}
